<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.literacybridge.acm.rcp.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ACM Standard Perspective"
            class="org.literacybridge.acm.rcp.core.StandardPerspective"
            id="org.literacybridge.acm.rcp.standard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.literacybridge.acm.rcp.commands.CmdExit"
            description="Exit application"
            id="org.literacybridge.acm.rcp.commands.Exit"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.literacybridge.acm.rcp.commands.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.literacybridge.acm.rcp.toolbar.playerNavigation">
            <command
                  commandId="org.literacybridge.acm.rcp.commands.Exit"
                  disabledIcon="icons/Player_Backward_32.png"
                  icon="icons/Player_Backward_32.png"
                  label="Backwards"
                  style="push">
            </command>
            <command
                  commandId="org.literacybridge.acm.rcp.commands.Exit"
                  icon="icons/Player_Play_alignRight_32.png"
                  label="Exit"
                  style="push">
            </command>
            <command
                  commandId="org.literacybridge.acm.rcp.commands.Exit"
                  icon="icons/Player_Forward_32.png"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="org.literacybridge.acm.rcp.toolbar.search">
            <control
                  class="org.literacybridge.acm.rcp.toolbar.SearchLabelContribution">
            </control>
            <control
                  class="org.literacybridge.acm.rcp.toolbar.SearchContribution">
            </control>
         </toolbar>
         <toolbar
               id="org.literacybridge.acm.rcp.toolbar.playerDetails">
            <control
                  class="org.literacybridge.acm.rcp.toolbar.PlayerDetailsContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.literacybridge.acm.rcp.views.category.CategoryView"
            id="org.literacybridge.acm.rcp.view.CategoryView"
            name="CategoryView"
            restorable="true">
      </view>
      <view
            class="org.literacybridge.acm.rcp.views.requestResult.AudioItemView"
            id="org.literacybridge.acm.rcp.view.RequestResultView"
            name="Request Result View"
            restorable="true">
      </view>
      <view
            class="org.literacybridge.acm.rcp.views.toolbar.ToolbarView"
            id="org.literacybridge.acm.rcp.view.ToolbarView"
            name="Toolbar View"
            restorable="true">
      </view>
       <view
             class="org.literacybridge.acm.rcp.views.devices.DeviceView"
             id="org.literacybridge.acm.rcp.view.DeviceView"
             name="Devices"
             restorable="true">
       </view>     
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="org.literacybridge.acm.rcp.view.CategoryView"
               minimized="false"
               moveable="true"
               ratio="0.70f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.literacybridge.acm.rcp.view.RequestResultView"
               minimized="false"
               moveable="true"
               ratio="0.30f"
               relationship="right"
               relative="org.literacybridge.acm.rcp.view.CategoryView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.literacybridge.acm.rcp.view.DeviceView"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="bottom"
               relative="org.literacybridge.acm.rcp.view.CategoryView"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.literacybridge.acm.rcp.product"
            description="Manage your LiteracyBridge Audio Content"
            name="LiteracyBridge Audio Content Manager">
      </product>
   </extension>
   <extension
         id="LiteracyBridge_ACM_001"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.literacybridge.acm.rcp.application"
            name="LiteracyBridge ACM">
         <property
               name="appName"
               value="LiteracyBridge ACM">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.literacybridge.acm.rcp.editors.audioItem.AudioItemEditor"
            default="false"
            id="org.literacybridge.acm.rcp.editor.AudioItemEditor"
            name="Audio Item Editor">
      </editor>
   </extension>

</plugin>
